.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }
  
  .navbar-title {
    flex-grow: 1;
  }
  
  .navbar-id {
    margin-right: 20px;
  }
  
  .navbar-userType {
    margin-right: 20px;
  }